body{
	text-shadow: 1px 1px 1px rgb(0,0,0,.2);
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
/*background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);*/
  /*background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);*/
  /*background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);*/
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.title{
	font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    text-transform: uppercase;
}



.box{
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: 0 5px 7px 0 rgb(0,0,0,.3);
	background-color:  white;
	padding: 1.5rem;
	width: 70%;
}

.name{

	font-weight: 600;
	color: #333;
	text-transform: uppercase;
	font-size: 1rem
}

img{
	max-width: 100%;
}

.info-img{
	box-shadow: 0 1px 3px 0 rgb(0,0,0,.3);
	margin: 0 1rem;
	height: 70px;
	width: 70px;
	border-radius: 50%;
}

.info-detailt:last-child .info-img{
	order:2;
}

.box-info{
	position: relative;
	padding: 0 2rem;
	display: flex;
	flex-direction: row;
}

.info-detailt{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.info-detailt:first-child{
	flex-grow: 1;
}

.info-content p{
	margin:0;
}

.box-time p{
	margin:0;
}

.box-time{
	margin-top: 3rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p.thank{
	font-size: 1rem;
	color: tomato;
	text-align: center;
}

.count-time {
	color: #333;
	margin-bottom: 2rem !important;;
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: 600;
}

.travel{
	left: calc(50% - 25px);
	top: calc(50% - 25px);
	position: absolute;
	width: 50px;
	animation: travelGo 1s ease-in-out infinite;
}

#time{
	color: #333;
	font-size: 1.7rem;
	font-weight: 600;
}

@keyframes travelGo{
	0%{
		transform: scale(.9);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(.9);
	}
}

@media screen and (max-width: 1000px) {
	.box{
		width: 80%;
	}
	.box-info{
		flex-direction: column;
	}

	.info-detailt{
		flex-direction: column;
	}

	.info-detailt:first-child{
		margin-bottom: 150px;
	}

	.info-img{
		margin: 1rem 0;
	}
	.title{
		margin-bottom: 1.5rem;
	}
} 
